<ng-container *ngFor="let child of children">
    <div class="td table-header subtitle">
        <img [style.visibility]="(child.children && child.children.length) ? 'visible': 'hidden'" alt="arrow"
            src="../../../assets/arrow.png" (click)="expandRow()" />
        {{ child.name }}
    </div>
    <ng-container *ngIf="!(child.children && child.children.length)">
        <div class="td" editCell>
            <input style="display: none;" type="number" [ngModel]="child.number"
                (focusout)="onFocusOutEvent($event, child, 'numbr')" />
            <span>{{ child.number }}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="child.children && child.children.length">
        <div class="td">
            {{ "SUM" }}
        </div>
    </ng-container>
    <app-tree-view style="display: contents;" [children]="child.children"></app-tree-view>
</ng-container>