<div class="table-container">
    <div class="table">
        <div class="row">
            <div class="td table-header">Data</div>
            <div class="td table-header" *ngFor="let year of data">{{ year.year }}</div>
        </div>
        <ng-container *ngFor="let row of rows">
            <div class="row" id="{{row.row}}" *ngIf="row.parent == null || row.parent.expanded">
                <div class="td table-header">
                    <img [style.visibility]="row.expandable ? 'visible': 'hidden'" alt="arrow" src="assets/arrow.png"
                        (click)="expandRow(row)" />
                    {{ row.name }}
                </div>
                <ng-container *ngFor="let year of data">
                    <ng-container *ngIf="row.expandable">
                        <div class="td">
                            {{ getByPath(year, row.path).number }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!row.expandable">
                        <div class="td" editCell>
                            <input style="display: none;" type="number" [ngModel]="getByPath(year, row.path).number"
                                (focusout)="onFocusOutEvent($event, year, row.path, 'number')" />
                            <span>{{ getByPath(year, row.path).number }}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <div class="row">
            <div class="td table-header">
                Date
            </div>
            <ng-container *ngFor="let year of data">
                <div class="td" editCell>
                    <input style="display: none;" type="date" [ngModel]="year.date | date:'yyyy-MM-dd'"
                        (focusout)="onFocusOutEvent($event, year, 'date', 'date')" />
                    <span>{{ year.date | date : 'dd.MM.YYYY' }}</span>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="td table-header">
                Select
            </div>
            <ng-container *ngFor="let year of data">
                <div class="td" editCell>
                    <select style="display: none;" [ngModel]="year.select"
                        (focusout)="onFocusOutEvent($event, year, 'select', 'select')">
                        <option value="Option 1">Option 1</option>
                        <option value="Option 2">Option 2</option>
                        <option value="Option 3">Option 3</option>
                    </select>
                    <span>{{ year.select }}</span>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="td table-header">
                File
            </div>
            <ng-container *ngFor="let year of data">
                <div class="td" editCell>
                    <input style="display: none;" type="file" [ngModel]="year.file"
                        (change)="onFocusOutEvent($event, year, 'file', 'file')" />
                    <span>
                        <span class="download" (click)="downloadFile(year.file)">
                            {{ year.file ? 'Download': null}}</span>
                    </span>
                </div>
            </ng-container>
        </div>
        <p>* --- Works on double-click and lost focus </p>
    </div>
</div>
